extends ../layout

block content

  link(href="/bands.css", rel="stylesheet")

  #intro
    //.indio Unión Indio
    h1.logo All My Friends Music Festival
    .illustration
    .menu
      ul
        li: a.boletos(href="http://www.superboletos.com/perl/redirect.pl?eventoId=14204", target="_blank") Boletos
        li: a.lineup(href="/lineup") Lineup
        li: a.news(href="https://twitter.com/infoamf", target="_blank") Noticias
    p.info
      span 16 de Noviembre 2013 / 1PM&nbsp;
      span @ Casa de la Cultura Tijuana
      span All ages

  #lineup
    each band in bands
      a(href="/bands/#{band.slug}")= band.name

  #bands
    each band in bands
      .band(class=band.slug, data-slug=band.slug, data-name=band.name)
        .text
          h1= band.name
          if band.and
            h2= band.and
          p.description= band.description
          .bg
