extends ../layout

block content

  link(href="/bands.css", rel="stylesheet")

  #bands
    each band in bands
      .band(class=band.slug, data-slug=band.slug, data-name=band.name)
        .text
          h1= band.name
          if band.and
            h2= band.and
          .description= band.description

  a.cartel(href="http://www.superboletos.com/perl/redirect.pl?eventoId=14204")
