extends ../layout

block content

  link(href="/bands.css", rel="stylesheet")

  #intro(data-path="/")
    //.indio Unión Indio
    h1#logo All My Friends Music Festival
    #illustration
    #menu
      ul
        li: a.boletos(href="http://www.superboletos.com/perl/redirect.pl?eventoId=14204", target="_blank") Boletos
        li: a.lineup(href="/lineup") Lineup
        li: a.news(href="https://twitter.com/infoamf", target="_blank") Noticias
        li: a.partners(href="#") Partners
    #info: p
      span 16 de Noviembre 2013 / 1PM&nbsp;
      span @ Casa de la Cultura Tijuana
      span All ages

  #partners
    h2 Partners
    a(href="//noisey.vice.com/es_mx"): img(src="/img/noisey.png")
    a(href="//despachodeproyectos.mx"): img(src="/img/despacho.png")
    a(href="//marvin.com.mx"): img(src="/img/marvin.png")
    a(href="//nrmal.net"): img(src="/img/nrmal.png")
    a(href="//imac.tijuana.gob.mx"): img(src="/img/imac.png")
    a(href="//cotuco.com.mx"): img(src="/img/cotuco.png")
    a(href="//aecontrol.com.mx"): img(src="/img/aecontrol.png")

  #lineup(data-path="/lineup")
    each band in bands
      a(href="/band/#{band.slug}")!= band.name

  #bands
    each band in bands
      .band(class=band.slug, data-slug=band.slug, data-name=band.name, data-path="/band/#{band.slug}")
        .text
          h1!= band.name
          if band.and
            h2!= band.and
          .description
            p!= band.description
            p: a.listen(href=band.link, target="_blank", data-embed=band.embed) Escucha
            .embed

          .bg
