extends ../layout

block content

  link(href="/bands.css", rel="stylesheet")

  a(href="/lineup")#lineup-link
    .arrow ↑
    .text Lineup

  .indio-presenta Indio Presenta

  #intro(data-path="/")
    h1#logo All My Friends Music Festival
    #illustration
    #menu
      ul
        li: a.boletos(href="http://web.superboletos.com:8080/SuperBoletos/MONTERREY/MUSICAL/ALL-MY-FRIENDS-MUSIC-FESTIVAL-/gzSkFJX1Vmz0qRNwe6oSBDEV3g", target="_blank") Boletos
        li: a.news(href="https://twitter.com/infoamf", target="_blank") Noticias
        li: a.partners(href="#partners") Partners
    #info: p
      span 16 de Noviembre 2013 / 1PM&nbsp;
      span @ Casa de la Cultura Tijuana
      span All ages

  #partners
    h2 Partners
    a(href="//noisey.vice.com/es_mx"): img(src="/img/noisey.png")
    a(href="//despachodeproyectos.mx"): img(src="/img/despacho.png")
    a(href="//marvin.com.mx"): img(src="/img/marvin.png")
    a(href="//nrmal.net"): img(src="/img/nrmal.png")
    a(href="//imac.tijuana.gob.mx"): img(src="/img/imac.png")
    a(href="//cotuco.com.mx"): img(src="/img/cotuco.png")
    a(href="//aecontrol.com.mx"): img(src="/img/aecontrol.png")
    a(href="//noiselab.com"): img(src="/img/noiselab.png")
    a(href="//www.deezer.com/en/"): img(src="/img/deezer.png")
    a(href="//filtermexico.com"): img(src="/img/filter.png")

  #lineup(data-path="/lineup")
    each band in bands
      a(href="/band/#{band.slug}")!= band.name

  #bands
    each band in bands
      .band(class=band.slug, data-slug=band.slug, data-name=band.name, data-path="/band/#{band.slug}")
        .text
          h1!= band.name
          if band.and
            h2!= band.and
          .description
            p!= band.description
            p: a.listen(href=band.link, target="_blank", data-embed=band.embed) Escucha
            .embed

          .bg
